@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@layer base {
  :root {
    /* Light theme colors */
    --background-primary: #ffffff;
    --background-secondary: #f3f4f6;
    --background-tertiary: #e5e7eb;

    --text-primary: #111827;
    --text-secondary: #4b5563;
    --text-tertiary: #6b7280;

    --border-primary: #e5e7eb;
    --border-secondary: #d1d5db;

    --accent-primary: #000000;
    --accent-secondary: #1f2937;

    --accent-main: #fa9939;  /* Your orange color */
    --accent-main-dark: #e88825;  /* Slightly darker version for hover */
    
    --navbar-height: 4rem;
    --navbar-padding: 1rem;
  }

  .dark {
    --background-primary: #141414;
    --background-secondary: #121212;
    --background-tertiary: #0e0e0e;

    --text-primary: #ffffff;
    --text-secondary: #e5e7eb;
    --text-tertiary: #9ca3af;

    --border-primary: #1f2937;
    --border-secondary: #374151;

    --accent-primary: #ffffff;
    --accent-secondary: #e5e7eb;
    
    --accent-main: #fa9939;  /* Keep the same in dark mode */
    --accent-main-dark: #e88825;
  }

  .font-holiday {
    font-family: 'Great Vibes', cursive;
  }

  body {
    @apply bg-background-primary text-text-primary;
  }
}